.containerOwnApp {
   box-shadow: 0 0 27px 0 rgb(84, 84, 84, 0.62);
   padding-top: 15px;
   position: center;
   align-items: center;
   
}
 
.login-page {
    padding: 10% 0 0;
    margin: 0 auto 100px;
    max-width: 360px;
    position: center;
    align-items: center;
    
  }
 
.login-form {
   box-shadow: 0 0 27px 0 rgba(48, 141, 248, 0.62);
   background: rgb(0,0,0);
   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(81,3,96,1) 51%, rgba(157,0,191,1) 100%);
}
 
.login-from-row {
   padding-top: 16px;
   padding-bottom: 16px;
}

  @import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Codystar';
    background: black;
    background-size: cover;
    background-image: url(https://img.freepik.com/vector-gratis/espectaculo-nocturno-sobre-fondo-pared-ladrillo-iluminado-focos_115579-568.jpg?size=626&ext=jpg);
  }
  
  .neons {
    margin-top: 3rem;
    text-align: center;
  }
  
  .neons h1 {
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      color: #fff;
      text-shadow: 0 0 5px #00fff2, 0 0 10px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
    to {
      color: gray;
      text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
  }